.position {
  position: absolute;
}

.logo {
  width: 15rem;
  height: 15rem;
  margin: 2rem auto;
  transform: scale(0);
}
.btn {
  position: relative;
  left: 50%;
  top: 38%;
  transform: translateX(-40%);
  width: 7rem;
  height: 2rem;
  border: unset;
  color: #030860;
  background-color: #c4c4c4;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  color: #c4c4c4;
  background-color: #01043a;
  border: 2px solid #c4c4c4;
}
.insert_credentials {
  font-size: 1rem;
  padding: 2%;
  text-align: center;
  color: white;
  font-weight: bold;
}
form {
  display: grid;
  margin: 2rem auto;
  width: 50%;
  height: 18rem;
  border: 1px solid white;
  background-color: #03075e;
  transform: scale(0);
}
form > p {
  display: inline-block;
  padding: 2%;
}

.center_itens {
  display: grid;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center_itens > * {
  justify-self: center;
  align-self: center;
}

.copyright {
  font-size: 1rem;
  font-weight: 200;
  color: white;
  animation-name: appear;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.copyright > a {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}
@keyframes appear {
  from {
    right: -100%;
  }
  to {
    right: 2%;
  }
}
