.zindex{
  z-index: 199;
}
.input{
  display: block;
  width: 50%;
  min-width: 250px;
  height: 10px;
  padding: 5%;
  margin-bottom: 10px;
  border: unset;
  border-radius: 2px;
  text-transform: uppercase;
  color: #030860;
  background-color: #c4c4c4;
}
.input:focus{
  background-color: #a3aaff;
  outline: unset;

}
.btn{
  position: relative;
  left: 50%;
  top: 38%;
  transform: translateX(-40%);
  width: 7rem;
  height: 2rem;
  border: unset;
  color: #030860;
  background-color: #c4c4c4;
  cursor: pointer;
  transition: .5s;
}
.btn:hover{
  color: #c4c4c4;
  background-color: #01043a ;
  border: 2px solid #c4c4c4;
}
.blink{
    animation: blink 3s infinite;
}
@keyframes blink {
    0%{opacity: 0;}
 
    100%{opacity: 1;}
}
.fadeIn{
    animation-name: fadeIn;
    animation-duration: .8s;
    
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      
    }
  }
.scaleIn{
    animation-name: scaleIn;
    animation-duration: .8s;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes scaleIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
      
    }
  }
.darkBlueBlink{
    animation-name: darkBlueBlink;
    animation-duration: .8s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
}
@keyframes darkBlueBlink {
    from {
        background-color: #03075e;
    }
    to {
        background-color: #020202;
      
    }
  }