body {
    width: 100%;
    height: 100%;
    font-family: Monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .canvas {
    width: 100%;
    height: 100%;
    background: #1A237E;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -13541354;
    animation: gradient 4s linear infinite;
    background: linear-gradient(102deg,#0e01a0,#1100ff,#0e01a0);
    background-size: 180% 180%;
  }
  @keyframes gradient {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
    
  }